header.intro {
  text-align: center;
  //background-image: url('./img/intro-header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 40px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
      .highlight {
        display: inline-block;
        padding: 0 10px;
        background: $black;
        border-radius: 2px;
      }
    }
  }
  .rt-th.rt-resizable-header{
    display: table;
    vertical-align: middle;
    height: 100%;
    .rt-resizable-header-content{
      vertical-align: middle;
      display: table-cell;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
  .rt-thead.-header{
    height: 50px;
  }
  .rt-tr-group{
    border-bottom: solid 1px rgba(0, 0, 0, 0.25) !important;
  }
  .rt-td{
    font-size: 14px;
    border-right: 1px solid rgba(0, 0, 0, 0.25) !important;
    text-align: left;
  }
  .rt-thead.-header{
    background: rgba(87, 190, 201, 0.17);
  }
}
.m-l-15{
  margin-left: 15px;
}
.form-container{
  border: 1px solid;
  padding: 15px;
  margin-bottom: 50px;
}
.text-left{
  text-align: left;
}
.rt-tbody{
  min-height: 100vh;
}
.-totalPages{
  display: none;
}
.-pageInfo{
  content: '';
}
.-pageJump{
  display: inline-block;
}
@media(min-width:768px) {
  header.intro {
    .intro-text {
      padding-top: 200px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
