header.intro-head {
  text-align: left;
  //background-image: url('./img/intro-header-bg.jpg');
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  .container {
    text-align: left;
    .penal-body {
      .lead {
        width: 100%;
      }
    }
  }
  .penal-title {
    font-size: 20px !important;
  }

  .penalTitle {
    font-size: 20px !important;
  }

}

.m-l-15 {
  margin-left: 15px;
}

.form-container {
  padding: 15px;
  margin-bottom: 50px;
}

.text-left {
  text-align: left;
}

.rt-tbody {
  min-height: 100vh;
}

.-totalPages {
  display: none;
}

.-pageInfo {
  content: '';
}

.-pageJump {
  display: inline-block;
}

.width-150 {
  width: 150px;
}

.bglight {
  background-color: #d9edf7 !important;
}

.penalTitle {
  font-size: 20px !important;
}

.penalTitle {
  font-size: 20px !important;
}
@media (max-width: 1400px) {
  .container {
    width: 1370px !important;
  }
}
@media (max-width: 1248px){
  .container {
    width: 100% !important;
    min-width: 100% !important;
  }
}

@media(min-width: 768px) {
  header.intro {
    .intro-text {
      padding-top: 200px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
      }
    }
  }
}
